<h2><%= @user.username %> Blog</h2>

<p><a href="/blog/<%= @user.username %>/new_post">Create new post</a></p>

<% if @user.posts == [] %>
	<p>You have no posts yet! ):</p>
<% else %>
	<% @user.posts.reverse.each do |post| %>
		<hr />
		<h3><%= post.title %></h3>
		<p><a href="/blog/<%= @user.username %>/edit_post/<%= post.id %>">Edit this post</a> <a href="/blog/<%= @user.username %>/delete_confirm/<%= post.id %>">Delete this post</a></p>
		<p><%= post.created_at %></p>
		<% paragraphs = post.make_paragraphs(post.content) %>
		<% paragraphs.each do |p| %>
			<p><%= p %></p>
		<% end %>
	<% end %>
<% end %>