<h2><%= @user.username %> Blog</h2>

<p><a href="/blog/new_post/<%= params[:id] = @user.id %>">Create new post</a></p>

<% if @user.posts == [] %>
	<p>You have no posts yet! ):</p>
<% else %>
	<% @user.posts.each do |post| %>
		<h2><%= post.title %></h2>
		<a href="#">Edit this post</a>
		<p><%= post.created_at %></p>
		<p><%= post.content %></p>
	<% end %>
<% end %>