<h2><%= @user.username %> Blog</h2>

<p><a href="/blog/new_post/<%= params[:id] = @user.id %>">Create new post</a></p>

<% if @user.posts == [] %>
	<p>You have no posts yet! ):</p>
<% else %>
	<% @user.posts.reverse.each do |post| %>
		<hr />
		<h2><%= post.title %></h2>
		<p><a href="#">Edit this post</a> <a href="#">Delete this post</a></p>
		<p><%= post.created_at %></p>
		<% paragraphs = post.make_paragraphs(post.content) %>
		<% paragraphs.each do |p| %>
			<p><%= p %></p>
		<% end %>
	<% end %>
<% end %>