<h3><%= @post.title %></h3>
<p><a href="/blog/<%= @user.username %>/edit_post/<%= @post.id %>" class="little_button_light">Edit this post</a> <a href="/blog/<%= @user.username %>/delete_confirm/<%= @post.id %>" class="little_button_light">Delete this post</a></p>
<p><%= @post.pretty_time %></p>
<% @post.content_paragraphs.each do |p| %>
	<p><%= p %></p>
<% end %>

<hr />

<div id="comments">
	<% if @post.comments == [] %>
		<p>No comments yet</p>
	<% else %>
		<% @post.comments.each do |comment| %>
			<div class="single_comment">
				<p><strong><%= comment.commenter %></strong></p>
				<h5><%= comment.pretty_time %></h5>
				<% comment.content_paragraphs.each do |p| %>
					<p><%= p %></p>
				<% end %>
				<a href="/blog/<%= @user.username %>/<%= @post.id %>/edit_comment/<%= comment.id %>" class="little_button_light">Edit this comment</a>
				<a href="/blog/<%= @user.username %>/<%= @post.id %>/<%= comment.id %>/delete_confirm" class="little_button_light">Delete this comment</a>
			</div>
		<% end %>
	<% end %>
</div>

<p>
	<a href="/blog/<%= @user.username %>/<%= @post.id %>/comment" class="little_button">Leave a comment</a>
	<a href="/blog/<%= @user.username %>" class="little_button">Back to <%= @user.username %> Blog</a>
</p>