<h3><%= @post.title %></h3>
<p><a href="/blog/<%= @user.username %>/edit_post/<%= @post.id %>">Edit this post</a> <a href="/blog/<%= @user.username %>/delete_confirm/<%= @post.id %>">Delete this post</a></p>
<p><%= @post.created_at %></p>
<% paragraphs = @post.make_paragraphs(@post.content) %>
<% paragraphs.each do |p| %>
	<p><%= p %></p>
<% end %>

<hr />

<div id="comments">
	<% if @post.comments == [] %>
		<p>No comments yet</p>
	<% else %>
		<% @post.comments.each do |comment| %>
			<div class="single_comment">
				<p><strong><%= comment.commenter %></strong></p>
				<p><%= comment.created_at %></p>
				<p><%= comment.content %></p>
			</div>
		<% end %>
	<% end %>
</div>

<p><a href="/blog/<%= @user.username %>/<%= @post.id %>/comment">Leave a comment</a></p>

<p><a href="/blog/<%= @user.username %>">Back to <%= @user.username %> Blog</a></p>